.tileContainerGrid {
    display: grid;
    grid-template-areas: 
    'header header'
    'info-cell poster'
    'info-cell poster'
    'info-cell poster'
    'info-cell poster'
    'info-cell poster'
    'info-cell poster';
    grid-gap: 10px;
    padding: 10px;
    box-shadow: 5px 5px 4px #4d4d4d;
    border: 1px solid #4d4d4d;
    width: 350px;
    height: auto;
    font-size: 12px;
}
/* Grid areas */
.posterArea {
    grid-area: poster;
}
.posterArea:hover {
    cursor: pointer;
}
.infoArea {
    grid-area: info-cell;
}
.headerArea {
    grid-area: header;
    text-align: left;
    padding-left: 10px;
}

/* Grid setup for info container properties */
.infoAreaContainerGrid { 
    display: grid;
    grid-template-columns: '100%';
    padding: 10px;
    height: auto;
}
.infoCellEntry {
    margin: 3px 0px 5px 3px;
}

/* Div info cell content styling */
.tileHeader {
    font-size: 13px;
    font-weight: bold;
}
.tileTitle {
    font-size: 15px;
}
.tileTitle:hover {
    cursor: pointer;
}
.posterImg {
    width: 150px;
    padding: 10px;
}
.ratingContainer {
    align-self: flex-end;  
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 0px;
}